.box {
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    background-color: white;
}

.form-container {
    height: 80vh;
    background-image: linear-gradient(0deg, rgba(189, 130, 253, 0.612) 0%, white 20%, white 80%, rgba(189, 130, 253, 0.612) 100%);
}

.form-container input {
    border-bottom: 1px solid gray;
    border-radius: 0px;
}

@media only screen and (max-width: 850px) {
    .box {
        width: 90%;
    }
}

.box h1 {
    font-family: 'Playfair Display SC', serif;
    text-align: center;
}

.box a {
    text-decoration: none;
}

.box {
    font-family: 'poppins';
    text-align: center;
}